<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"> </script>
    
</head>
<body>

    <div id="app">
       显示数据: {{ message }} 
    </div>
    <hr>

    <div id="app2">
        <span :title="message">hey 数据绑定</span>
    </div>
    <hr>

    <div id="app3">
        <p v-if="seen">if 语句</p>
    </div>
    <hr>

    <div id="app4">
        for循环(也可以循环对象 (value, key, index))
        <ol>
            <li v-for="(item, i) in items">
                {{ parentMsg }}: {{ i }}:{{ item.text }}
            </li>
        </ol>
    </div>
    <hr>

    <div id="app5">
        事件绑定
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage()">reverse message</button>
    </div>
    <hr>

    <div id="app6">
        双向绑定
        <p>{{ message }} </p>
        <input v-model="message" />
    </div>
    <hr>

    <div id="app7">
        组件化， 全局组件
        <ol>
            <todo-item
                v-for="item in groceryList"
                :todo="item"
                :key="item.id"
            ></todo-item>
        </ol>
    </div> 
    <hr>

    <div id="app8">
        属性名绑定  (无效???)
        <a :[attrName]="url">do something {{ attrName }}</a>
    </div>
    <hr>

    <div id="app9">
        {{ message }}
        <p>computed message: {{ reverseMessage }} </p>
    </div>
    <hr>

    <div id="app10">
        <div :class="curClass" :style="curStyle">class bind</div>
    </div>
    <hr>

    <div id="app11">
        <ol>
            <li v-for="item in items">
                {{  item.text }}
            </li>
        </ol>
        <button @click="sortItems">sort items</button>
    </div>

    <div onclick="alert(1)" style="width: 50px; height: 50px; background: red; position: relative">
        <div  style="width: 50px; height: 50px; background: green; position: absolute; top: 60px; ">
        </div>
    </div>



    <script src="./index.js"></script>
    <link rel="stylesheet" type="text/css" href="./index.css">
    
</body>
</html>
